*{
    margin: 0px;
    text-decoration: none;
}
.main{
    display: flex;
    background-color: white;
    position: fixed;
    height: 110px;
    width: 100%;
    justify-content: space-evenly;
}
h1{
    margin-left: 600px;
    margin-top: 20px;
    color: rgb(247, 102, 186);
    height: 20%;
}
#a{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: -700px;
    justify-content: space-around;
    font-size: 20px;
}
#b{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 30px;
    justify-content: space-around;
    font-size: 20px;
}
#c{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 30px;
    justify-content: space-around;
    font-size: 20px;
}
#d{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 30px;
    justify-content: space-around;
    font-size: 20px;
}
#e{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 30px;
    justify-content: space-around;
    font-size: 20px;
}
#f{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 30px;
    justify-content: space-around;
    font-size: 20px;
}
.main2{
    height: 400px;
    width: 100%;
    background-color: blueviolet;
}
.main2 .gov{
    height: 400px;
    width: 50%;
    background-color: chartreuse;
}